#jumbotron {
    background-image: url( );
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

#login {
    display: flex;
    justify-content: center;
    margin-top: 10%;
 
}

a {
    color: white;

}

